.newPost.postBox {
  display: flex;
  padding-top: var(--marginInLine);
}

.newPost.postBox .inputContainer {
  /* --InputFontSize: 16px; */

  /* border: none; */
  border: solid var(--dominantColorSoft) 2px;
  min-height: 12rem;
}
