.newPost.postBox {
  display: flex;
  padding-top: var(--marginInLine);
}

.newPost.postBox .inputContainer {
  /* --InputFontSize: 16px; */

  /* border: none; */
  border: solid var(--dominantColorSoft) 2px;
  min-height: 12rem;
}

/* Scroll style */
.desktopView .newPost.postBox .inputContainer input,
.desktopView .newPost.postBox .inputContainer textarea {
  scrollbar-color: var(--accentColor) var(--dominantColorSoft);
  scrollbar-width: thin;
}

/* TABLET QUERY */

@media (min-width: 768px) {
  .desktopView {
    grid-area: makePost;
    width: var(--postSection);
  }
}

/* DESKTOP QUERY */

@media (min-width: 768px) {
  .desktopView {
    grid-area: makePost;
    width: var(--postSection);
  }

  .desktopView .newPost.postBox {
    min-width: var(--postSection);
    display: flex;
  }

  .desktopView .newPost.postBox .newPostForm {
    height: var(--inputHeigt);
    overflow: hidden;
    transition: var(--transitionDuration_General);
  }

  .desktopView .newPost.postBox .inputContainer {
    border: solid var(--dominantColorSoft) 2px;
    min-height: initial;
    height: calc(var(--inputHeigt) - 1rem);
    transition: var(--transitionDuration_General);
    width: calc(
      var(--postSection) - var(--imageWidth) - var(--marginInLine) * 2 -
        var(--marginInLine)
    );
  }

  .desktopView.openable .newPost.postBox .inputContainer input,
  .desktopView.openable .newPost.postBox .inputContainer textarea {
    padding-top: calc(var(--marginBlock) * 2.5);
  }

  .desktopView.openable .newPost.postBox:focus-within .newPostForm {
    height: var(--inputFocusHeigt);
  }

  .desktopView.openable .newPost.postBox:focus-within .inputContainer {
    height: calc(var(--inputFocusHeigt) - 1rem);
  }

  .desktopView {
    margin-bottom: var(--marginBlock);
  }

  .modalStyle .newPost.postBox {
  }

  .modalStyle .newPost.postBox form {
    display: flex;
    min-height: 60vh;

    flex-direction: column;
  }

  .modalStyle .newPost.postBox .newPostForm {
    display: flex;
    flex-grow: 1;
  }
  .modalStyle .newPost.postBox .inputContainer {
    height: 95%;
  }
}
