.newPostBtn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;

  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--accentColor);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  color: #fff;

  cursor: pointer;
}

.newPostBtn:hover {
  opacity: 0.95;
}
