.postBox.newComment {
  display: flex;
  margin-top: 1rem;
}

.originalPost .postBox .userImage {
  position: relative;
  overflow: initial;
}

.originalPost .postBox .userImage::before {
  content: '';
  height: calc(var(--lineCommentsHeight) - var(--imageWidth));
  width: 2px;
  background-color: var(--dominantColorSoft);
  position: absolute;
  top: calc(100% + var(--marginInLine) / 2);
  left: 50%;
}

.postBox.newComment .userImage::before {
}

.newComment .inputContainer {
  --InputFontSize: 16px;

  width: calc(100vw - var(--imageWidth) - var(--marginInLine) * 2);
  /* border: none; */
  border: solid var(--dominantColorSoft) 2px;
  min-height: 12rem;
}

.modalStyle .inputContainer {
  width: calc(var(--postSection) - var(--imageWidth) - var(--imageWidth));
}
