/* HEADER */
.header {
  background-color: #fff;
  position: fixed;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--headerHeight);
  padding-inline: var(--marginInLine);
  border-bottom: 1px solid var(--dominantColorSoft);
  top: 0;
  left: 0;
  z-index: 1000;
}
.logoContainer {
  cursor: pointer;
}

.logoContainer .logoIcon svg {
  color: #000000d4;
  width: var(--headerHeight);
  height: var(--headerHeight);
}
.logoContainer:hover .logoIcon svg,
.logoContainer:hover .logoIcon_text {
  color: #000000;
}

.logoContainer .logoIcon_text {
  font-size: 1.5rem;
  font-weight: bold;
}

.header_compose {
  padding-inline: 0;
  align-items: center;
}

.backBtn {
  align-self: center;
  justify-self: flex-start;
}

.header_title {
  font-weight: 700;
  letter-spacing: 0.04rem;
  font-size: 1.6rem;
  margin-right: auto;
}

.btn.noStyle {
  background: none;
  outline: none;
  border: none;
}

.header .menuContainer {
  position: relative;
}
.header .openMenu {
  display: flex;
}

/* .marginHeader {
  margin-top: calc(var(--headerHeight) + 1rem);
} */

.backgroundMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0000004b;
  pointer-events: none;
  opacity: 0;
}

.backgroundMenu.active {
  pointer-events: all;
  opacity: 1;
}

.menu_list {
  list-style: none;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: calc(100% + var(--marginInLine));
  height: 100vh;
  width: 60vw;
  transition: 0.5s;
}

.menu_list .closeMenuContainer {
  display: flex;
  align-items: center;
}

.closeMenuContainer .closeBtn {
  min-height: 2rem;
  min-width: 2rem;
  font-size: 1rem;
  padding: 0;
}

.closeMenuContainer span {
  font-size: var(--normlTextSize);
  font-weight: 700;
}

.menu_list .closeBtn svg {
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  padding: 0;
}

.menu_list.active {
  transform: translateX(calc(-100% - var(--marginInLine)));
}

.menu_list .accountInfo_menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dominantColorSoft);
  margin: 0.5rem 1rem;
  border-radius: var(--borderRadiusCard);
  cursor: pointer;
  transition: background 0.2s;

  /* min-height: 4rem; */
}

.menu_list .accountInfo_menu .userImage {
  height: 4rem;
  width: 4rem;
  margin-block: 0.5rem;
}

.menu_list .accountInfo_menu .userImage_image {
  height: 4rem;
  width: 4rem;
}

.menu_list .accountInfo_menu:hover {
  background-color: var(--dominantColor);
}

.menu_list li:first-of-type {
  margin-top: 1rem;
  /* padding-top: 1rem; */
  position: relative;
}

.menu_list li:first-of-type::before {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--dominantColorSoft);
  top: 0rem;
  left: 0;
  position: absolute;
}

.menu_list li {
  margin-inline: var(--marginInLine);
  margin-bottom: calc(var(--marginBlock) * 2);
  padding-block: calc(var(--marginBlock) * 2);
  padding-inline: calc(var(--marginBlock) * 2);

  font-size: var(--bigTextSize);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;

  transition: 0.2s;
}

.menu_list li:hover {
  background-color: var(--dominantColorSoft);
}

.menu_list li svg {
  font-size: 1.5rem;
}
.menu_list li .link {
  justify-self: flex-end;
  margin-left: 0;
}

.menu_list li .link a {
  /* margin-left: 0.5rem; */
  color: #000;
}

.menu_list_closeSession {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
