/* HEADER */
.header {
  background-color: #fff;
  position: fixed;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--headerHeight);
  padding-inline: var(--marginInLine);
  border-bottom: 1px solid var(--dominantColorSoft);
  top: 0;
  left: 0;
  z-index: 1000;
}
.logoContainer {
  cursor: pointer;
}

.logoContainer .logoIcon svg {
  color: var(--accentColorTransp);
  width: calc(var(--headerHeight) * 0.8);
  height: calc(var(--headerHeight) * 0.8);
}
.logoContainer:hover .logoIcon svg,
.logoContainer:hover .logoIcon_text {
  color: var(--accentColor);
}

.logoContainer:active .logoIcon svg,
.logoContainer:active .logoIcon_text {
  color: var(--accentColorDark);
}

.logoContainer .logoIcon_text {
  font-size: 1.5rem;
  font-weight: bold;
}

.header_compose {
  padding-inline: 0;
  align-items: center;
}

.backBtn {
  align-self: center;
  justify-self: flex-start;
}

.header_title {
  font-weight: 700;
  letter-spacing: 0.04rem;
  font-size: 1.6rem;
  margin-right: auto;
}

.btn.noStyle {
  background: none;
  outline: none;
  border: none;
}

.header .menuContainer {
  position: relative;
}
.header .openMenu {
  display: flex;
}

/* .marginHeader {
  margin-top: calc(var(--headerHeight) + 1rem);
} */
