.gridPost {
  display: grid;
  grid-template-areas:
    'image username options time'
    'image post post post'
    'image footer footer footer';
  grid-template-columns: 4rem 4fr 0.5fr 0.5fr;
}

.gridPost .userImage {
  border-radius: 50%;
  overflow: hidden;
  grid-area: image;
}

.postBox .post_user {
  font-weight: bold;
  cursor: pointer;
  grid-area: username;
  /* position: relative; */
}

.moreOptions_Post {
  display: flex;
  /* transform: translateY(10%); */
  align-items: center;
  justify-content: center;
  height: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  grid-area: options;
  width: 2rem;
}

.gridPost .post_timeLast {
  color: var(--dominantColor);
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: time;
  width: 2rem;
}

.postBox .post_text {
  grid-area: post;
}

.postBox .postFooter {
  margin-top: auto;
  min-width: 100%;
  grid-area: footer;
}

.moreOptions_Post svg {
  transform: rotate(90deg);
  z-index: -1;
  /* rotate: 90deg; */
}

.contextMenu_Post {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  background-color: var(--shadedBackgroundColor);
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

.contextMenu_Post ul {
  list-style: none;
  min-height: 50vh;
  min-width: 100vw;
  background-color: var(--dominantColorSoft);
  border-radius: var(--borderRadiusCard);

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  transition: 0.2s;
  padding-block: var(--marginInLine);
}

.contextMenu_Post .closeBtn {
}
.contextMenu_Post.active {
  opacity: 1;
  pointer-events: all;
  /* min-height: fit-content;
  min-width: 60vw; */
}

.moreOptions_Post span:hover {
}

.moreOptions_Post span:hover svg {
  background-color: var(--dominantColorSoft);
  color: #000;
  box-shadow: 0 0 5px 5px var(--dominantColorSoft);
  border-radius: 15px;
}

.Posts_Container .Post {
  padding: var(--marginBlock) var(--marginInLine);
  padding-top: var(--marginInLine);
}
/* .Posts_Container .Post:hover {
  background-color: rgb(212, 210, 210);
} */

/* FOOTER */
.postFooter_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.postFooter_list li {
  display: flex;
  margin-top: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
}

.postFooter_list .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.postFooter_list .icon {
  border-radius: 50%;
  color: var(--dominantColor);
}

.postFooter_list li .icon svg {
  transition: 0.5s;
}
.postFooter_list li span {
  align-self: center;
  color: var(--dominantColor);
}

.postFooter_list li:hover .heartIcon svg {
  background-color: var(--likeColorSoft);
  box-shadow: 0 0 5px 5px var(--likeColorSoft);
  color: var(--likeColorIcon);
  border-radius: 50%;
}

.icon.reaction_active {
  color: var(--likeColorIcon);
}

.postFooter_list li:hover .messageIcon {
  background-color: var(--msgColorSoft);
  box-shadow: 0 0 5px 5px var(--msgColorSoft);
  color: var(--msgColorIcon);
  border-radius: 50%;
}

.postFooter_list li:hover .shareIcon {
  background-color: var(--shareColorSoft);
  box-shadow: 0 0 5px 5px var(--shareColorSoft);
  color: var(--shareColorIcon);
  border-radius: 50%;
}
