.gridPost {
  display: grid;
  grid-template-areas:
    'image username options time'
    'image post post post'
    'image footer footer footer';
  grid-template-columns: 4rem 4fr 0.5fr 0.5fr;
}

.gridPost .userImage {
  border-radius: 50%;
  overflow: hidden;
  grid-area: image;
}

.postBox .post_user {
  font-weight: bold;
  cursor: pointer;
  grid-area: username;
  /* position: relative; */
}

.moreOptions_Post {
  display: flex;
  /* transform: translateY(10%); */
  align-items: center;
  justify-content: center;
  height: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  grid-area: options;
  width: 2rem;
}

.post_user .edited {
  color: var(--dominantColor);
  font-weight: 400;
  font-size: var(--smallTextSize);
}

.gridPost .post_timeLast {
  color: var(--dominantColor);
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: time;
  width: 2rem;
}

.postBox .post_text {
  grid-area: post;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

.postBox .postFooter {
  margin-top: auto;
  min-width: 100%;
  grid-area: footer;
}

.moreOptions_Post .rotate {
  transform: rotate(90deg);
  z-index: -1;
  /* rotate: 90deg; */
}

.contextMenu_Post {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  min-height: 100%;
  width: 100vw;
  background-color: var(--shadedBackgroundColor);
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

.contextMenu_Post ul {
  list-style: none;
  min-height: 50vh;
  min-width: 100vw;
  background-color: var(--dominantColorSoft);
  border-radius: var(--borderRadiusCard);

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  transition: 0.2s;
  padding-block: var(--marginInLine);
}

.contextMenu_Post .closeBtn {
  margin-top: auto;
  align-self: center;
  width: 90%;
}
.contextMenu_Post.active {
  opacity: 1;
  pointer-events: all;
  /* min-height: fit-content;
  min-width: 60vw; */
}

.MenuItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-inline: 1rem;
  margin-block: 0.5rem;
  font-size: var(--normalTextSize);
}

.MenuItem svg {
  font-size: var(--bigTextSize);
}

.contextMenu_Post ul li:hover {
  background-color: var(--dominantColor);
}

.moreOptions_Post span:hover svg {
  background-color: var(--dominantColorSoft);
  color: #000;
  box-shadow: 0 0 5px 5px var(--dominantColorSoft);
  border-radius: 15px;
}

.Posts_Container .Post {
  padding: var(--marginBlock) var(--marginInLine);
  padding-top: var(--marginInLine);
}
/* .Posts_Container .Post:hover {
  background-color: rgb(212, 210, 210);
} */

/* FOOTER */
.postFooter_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.postFooter_list li {
  display: flex;
  margin-top: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
}

.postFooter_list .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.postFooter_list .icon {
  border-radius: 50%;
  color: var(--dominantColor);
}

.postFooter_list li .icon svg {
  transition: 0.5s;
}
.postFooter_list li span {
  align-self: center;
  color: var(--dominantColor);
}

.postFooter_list li:hover .heartIcon svg {
  background-color: var(--likeColorSoft);
  box-shadow: 0 0 5px 5px var(--likeColorSoft);
  color: var(--likeColorIcon);
  border-radius: 50%;
}

.icon.heart.reaction_active {
  color: var(--likeColorIcon);
}

.postFooter_list li:hover .messageIcon {
  background-color: var(--msgColorSoft);
  box-shadow: 0 0 5px 5px var(--msgColorSoft);
  color: var(--msgColorIcon);
  border-radius: 50%;
}

.postFooter_list li:hover .starIcon {
  background-color: var(--favoriteColorSoft);
  box-shadow: 0 0 5px 5px var(--favoriteColorSoft);
  color: var(--favoriteColor);
  border-radius: 50%;
}

.icon.star.reaction_active {
  color: var(--favoriteColor);
}

.postFooter_list li:hover .shareIcon {
  background-color: var(--shareColorSoft);
  box-shadow: 0 0 5px 5px var(--shareColorSoft);
  color: var(--shareColorIcon);
  border-radius: 50%;
}

/* --favoriteColor: #e4e12f;
  --favoriteColorSoft: #e4e12f;
  --favoriteColorIcon: #e4e12f; */

/* Scroll style */

.Posts_Container {
  scrollbar-color: var(--accentColor) var(--dominantColorSoft);
  scrollbar-width: thin;
}

/* DESKTOP QUERY */

@media (min-width: 768px) {
  .Posts_Container {
    width: var(--postSection);
    grid-area: postContainer;
    overflow-y: scroll;
    min-height: 100%;
    position: relative;
  }
  .Posts_Container.isProfile {
    width: 100%;
    padding-bottom: 0;
  }
  .moreOptions_Post {
    position: relative;
  }

  .contextMenu_Post {
    position: absolute;
    z-index: 200000;

    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background: none;
    max-width: 35vw;
  }
  .contextMenu_Post ul {
    min-height: fit-content;
    min-width: 20vw;
    top: 0;
    right: 0;
    position: initial;
    box-shadow: var(--boxShadowProp);
  }

  .backgroundModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
  }
  .backgroundModal.active {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.282);
    pointer-events: all;
  }
}
