@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;600;700;900&display=swap');

:root {
  /*## COLOR VARIABLES ##*/
  --dominantColor: #6e6c6f;
  --dominantColorSoft: #e3e2e3;
  --complementaryColor: #4b464b;
  --accentColor: #1eb7a8;
  --accentColorDark: #126a7a;

  --likeColorIcon: #ff0936;
  --likeColor: #d24444cd;
  --likeColorSoft: #d24444a2;

  --msgColor: #5481b7;
  --msgColorSoft: #5481b78d;
  --msgColorIcon: #1e00ff;

  --shareColor: #66bf56;
  --shareColorSoft: #63b754ba;
  --shareColorIcon: #0d5600;

  /*## MARGIN VARIABLES ##*/
  --marginInLine: 1rem;
  --marginBlock: 0.2rem;

  /*## BLOCK SIZES VARIABLES ##*/
  --headerHeight: 3rem;
  --footerHeight: 2rem;

  /* -- ##  POST BOX SIZES ##*/
  --boxPostMinHeight: 6rem;
  /* --boxPostMinHeight: 6rem; */

  /* -- ##  BORDER RADIUS  ##*/
  --borderRadiusCircle: 50%;
  --borderRadiusCard: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#root {
  padding-top: calc(var(--headerHeight) + 1rem);
}

/* #### BUTTONS ### */

.btn {
  background: none;
  border: none;
  font-weight: 700;
  letter-spacing: 0.03rem;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
}

.btn.link {
}

.btn.accent {
  background: var(--accentColorDark);
  color: #fff;
}
.btn.primary {
  background: var(--dominantColor);
  color: #fff;
  transition: color 0.2s;
}
.btn.primary:hover {
  background: var(--dominantColorSoft);
  color: #000;
}

.btn.secondary {
  border: solid 2px var(--dominantColor);
}

.btn.secondary:hover {
  opacity: 0.8;
}

.btn.animate {
  /* border-bottom: solid 2px var(--dominantColor); */
  position: relative;
}

.btn.animate::after {
  content: '';
  background-color: var(--complementaryColor);
  position: absolute;
  left: 50%;
  top: 100%;
  width: 00%;
  height: 2px;
  transition: 0.3s ease-in-out;
}

.btn.animate::before {
  content: '';
  background-color: var(--complementaryColor);
  position: absolute;
  right: 50%;
  top: 100%;
  width: 00%;
  height: 2px;
  transition: 0.3s ease-in-out;
}

.btn.animate:hover::before,
.btn.animate:hover::after {
  width: 50%;
}
