@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;600;700;900&display=swap');

:root {
  /*## SECTION VARIABLES ##*/
  --postSection: 50vw;
  --favoritesSection: 25vw;
  --menuSection: 20vw;

  /*## COLOR VARIABLES ##*/
  --dominantColor: #6e6c6f;
  --dominantColorSoft: #e3e2e3;
  --complementaryColor: #1fadb7;
  --accentColor: #5481b7;
  --accentColorDark: #235377;
  --accentColorTransp: #5481b7b4;

  --likeColorIcon: #ff0936;
  --likeColor: #d24444cd;
  --likeColorSoft: #d24444a2;

  --msgColor: #5481b7;
  --msgColorSoft: #5481b78d;
  --msgColorIcon: #1e00ff;

  --favoriteColor: #afad1f;
  --favoriteColorSoft: #e4e12f;
  --favoriteColorIcon: #e4e12f;

  --shareColor: #66bf56;
  --shareColorSoft: #63b754ba;
  --shareColorIcon: #0d5600;

  --shadedBackgroundColor: #00000087;

  /*## MARGIN VARIABLES ##*/
  --marginInLine: 1rem;
  --marginBlock: 0.2rem;

  /*## BLOCK SIZES VARIABLES ##*/
  --headerHeight: 4rem;
  --footerHeight: 2rem;

  /* -- ##  POST BOX SIZES ##*/
  --boxPostMinHeight: 6rem;
  /* --boxPostMinHeight: 6rem; */
  --boxShadowProp: 0 0 4px 2px var(--dominantColor);

  /* -- ##  BORDER RADIUS  ##*/
  --borderRadiusCircle: 50%;
  --borderRadiusCard: 0.5rem;

  /* PROFILE SIZE */
  --imageWidth: 3rem;
  --lineCommentsHeight: 0px;

  /*## FONTS VARIABLES ##*/
  --smallTextSize: 0.8rem;
  --normalTextSize: 1rem;
  --bigTextSize: 1.3rem;
  --biggerTextSize: 1.6rem;

  --InputLabelFontSize: 1.1rem;
  --InputLabelFontSize_inFocus: 0.9rem;
  --InputFontSize: 1.3rem;

  --inputMarginInLine: 0.5rem;

  /*## FONTS VARIABLES ##*/
  --inputHeigt: 4rem;
  --inputFocusHeigt: 8rem;

  --transitionDuration_General: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#root {
  padding-top: calc(var(--headerHeight));
}

/* #### BUTTONS ### */

.btn {
  background: none;
  border: none;
  letter-spacing: 0.03rem;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  min-width: 3rem;

  font-size: var(--nonrmalTextSize);
  font-weight: 700;
}

.btn svg {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn.link {
}

.btn.accent {
  background: var(--accentColorDark);
  color: #fff;
}
.btn.primary {
  background: var(--accentColor);
  color: #fff;
  transition: color 0.2s;
}
.btn.primary:hover {
  background: var(--dominantColorSoft);
  color: #000;
}

.btn.primary:focus {
  outline: solid 3px var(--accentColorDark);
}

.btn.secondary {
  border: solid 2px var(--dominantColor);
}

.btn.secondary.invert {
  border: solid 2px #fff;
  color: #fff;
}

.btn.secondary:hover {
  background-color: var(--dominantColorSoft);
}

.btn.animate {
  /* border-bottom: solid 2px var(--dominantColor); */
  position: relative;
}

.btn.animate::after {
  content: '';
  background-color: var(--complementaryColor);
  position: absolute;
  left: 50%;
  top: 100%;
  width: 00%;
  height: 2px;
  transition: 0.3s ease-in-out;
}

.btn.animate::before {
  content: '';
  background-color: var(--complementaryColor);
  position: absolute;
  right: 50%;
  top: 100%;
  width: 00%;
  height: 2px;
  transition: 0.3s ease-in-out;
}

.btn.animate:hover::before,
.btn.animate:hover::after {
  width: 50%;
}

.btn.success {
  background-color: rgb(68, 118, 68);
  border: 2px solid rgb(43, 76, 43);
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.03rem;
}

.btn.danger {
  background-color: rgb(230, 83, 83);
  border: 2px solid #9c2f2f;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.03rem;
}

.btn.informative {
  background-color: rgb(52, 136, 149);
  border: 2px solid rgb(35, 93, 102);
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.03rem;
}

.loginPage {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: calc(0rem - var(--headerHeight));
  display: flex;
  flex-direction: column;
  /* justify-content: ; */

  gap: 2rem;
  align-items: center;

  background-image: linear-gradient(60deg, #5481b7, #889bb3);
}

.loginPage .initialText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  margin-top: 20vh;
  /* background-color: #324b6896; */
}

.loginPage .initialText h3 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.08rem;
}

.loginPage .initialText span {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.initialText span span {
  font-weight: bold;
  text-decoration: underline;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: var(--dominantColorSoft); */
  /* background-color: #b5b1b150; */
  width: 80vw;
}
.formContainer_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPage .inputContainer {
  /* width: 100%; */
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 4rem;
  margin-block: 0.5rem;
  border: solid var(--dominantColor) 2px;
  border-radius: var(--borderRadiusCard);
}

.inputContainer.isTextarea {
  min-height: 6rem;
}

.inputContainer_submit {
  width: 100%;

  /* margin: none; */
}

.inputContainer_submit input {
  width: 100%;
  height: calc(var(--InputFontSize) * 2);
  font-size: var(--InputFontSize);
  margin-block: 1rem;
  margin-inline: 0;
}
.inputContainer label {
  font-size: var(--InputLabelFontSize);
  position: absolute;
  transition: 0.3s;
  padding-inline: var(--inputMarginInLine);
}

.inputContainer input,
.inputContainer textarea {
  /* border: solid black 2px; */
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  font-size: var(--InputFontSize);
  border: none;
  border-radius: var(--borderRadiusCard);
  outline: none;
  padding-top: 1.1rem;
  padding-inline: var(--inputMarginInLine);
  cursor: pointer;
  background-color: #fff;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
  cursor: text;
}

.inputContainer:focus-within label {
  color: var(--accentColorDark);
  font-size: var(--InputLabelFontSize_inFocus);
}
.inputContainer:focus-within {
  border: var(--accentColorDark) 2px solid;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
}

.link {
  margin-top: var(--marginBlock);
  margin-inline: auto;
  display: flex;
}

.link a {
  text-decoration: none;
  color: #fff;
  font-size: var(--bigTextSize);
  text-align: center;
}

.sweetAlertModal {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.sweetAlertModal .btn {
  width: 100%;
}

pre {
  white-space: pre-wrap;
  word-break: normal;
}

.modalStyle_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalStyle {
  background-color: #fff;
  /* height: 60vh; */
  box-shadow: var(--boxShadowProp);
  border-radius: var(--borderRadiusCard);

  /* width: 40vw; */
}

.modalStyle .inputContainer {
  width: inherit;
}

.ComposePost_footer {
  display: flex;
  flex-direction: row-reverse;
  margin-block: var(--marginBlock);
}

.ComposePost_footer .btn {
  margin: 0;
}

/* Scroll style */

/* TABLET QUERY */

@media (min-width: 768px) {
  .bigView {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
      'one makePost  other'
      'one postContainer  other'
      'one postContainer  other';
    grid-template-columns: var(--menuSection) var(--postSection) var(
        --favoritesSection
      );
    overflow: hidden;
  }

  .bigView.ProfilePage {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
      'one profilePanel  profilePanel'
      'one profilePanel  profilePanel'
      'one profilePanel  profilePanel';
    grid-template-columns: var(--menuSection) var(--postSection);
    overflow: hidden;
  }
  .ProfileContainer {
    grid-area: profilePanel;
    overflow-y: auto;
  }

  .ProfileContainer .Posts_Container {
    overflow: hidden;
    width: initial;
  }

  .favoritesBoard {
    grid-area: other;
    /* width: 20vw; */
  }

  #root {
    padding-top: 0;
  }
}

/* DESKTOP QUERY */
